/* ---------------------------------------------------------------
 * 01. Basic Styles
 * 02. Structure
 * 03. Content
 * ------------------------------------------------------------ */


/* ---------------------------------------------------------------
 * 01. Basic Styles
 * ------------------------------------------------------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    min-width: 320px;
    margin: 0;
    color: #fff;
    text-shadow: 1px 1px 2px #000, 0 0 1em #000;
	font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    background-image: url(img/bg-3.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

img {
    border: 0;
    max-width: 100%;
}

ul {
    list-style: none;
}

h2 {
    margin-top: 80px;
    margin-bottom: 32px;
    font-size: 32px;
    line-height: 1.25; // 40px

    &:first-of-type {
        margin-top: 0;
    }
}


/* ---------------------------------------------------------------
 * 02. Structure
 * ------------------------------------------------------------ */
.container { // TODO: need refactoring
    width: 100%;
    max-width: calc(1160px + 48px);
    margin: 0 auto;
    padding-right: 24px;
    padding-left: 24px;
}

.box {
    padding-top: 32px;
    padding-bottom: 32px;
}

.bg {
    backdrop-filter: blur(7px);
    background-color: rgba(0, 0, 0, .4);
    box-shadow: 0 0 11px rgba(0, 0, 0, .8);
}

@-moz-document url-prefix() {
	.bg {background-color: rgba(0, 0, 0, .65);}
}


h1 {
    text-align: center;
}

a {
    color: #fff;
}

body pre.prettyprint {
	width: 100%;
    padding: 24px 16px;
	border-radius: 0;
    //border: none;
    background-color: rgba(0, 0, 0, 0.7);
    //text-shadow: none;
	//white-space: pre-wrap;
}

.tabs {

    &__btns {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 60px;
    }

	&__btn {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 1 1 auto;
		//width: calc((100% / 3) - 30px);
		min-height: 60px;
		padding: 5px 10px;
		color: white;
		text-align: center;
		font-weight: 700;
		font-size: 20px;
		line-height: 1.2;
		border-bottom: 1px solid #dbdbdb;
		cursor: pointer;
		transition:.8s;

		&:hover {
			color: $color-main;
		}

		&--active {
			color: $color-main;

			&:after {
				content: "";
				position: absolute;
				left: 0;
				bottom: -2px;
				display: block;
				width: 100%;
				height: 3px;
				background-color: $color-main;
			}
        }
	}

	&__content {
		padding: 0 60px;
	}

	&__item {
		display: none;
        //overflow: visible;

		&--show {
            display: block;
            visibility: visible;
        }
	}
}


.currency {
	max-width: 400px;

	&__row {
		display: flex;
		align-items: center;
		border: 1px solid rgb(175, 175, 175);
		margin-bottom: -1px;
	
		span {
			font-size: 22px;
			margin-right: 10px;
		}
	}

	&__icon {
		margin-right: 15px;
		padding: 10px 15px;
		background-color: #e3e3e3;
		font-size: 22px;
	}
}




// html {
// 	font-size: ($font-size--root / 16px) * 100%; // 62.5%
// }

// body {
// 	min-width: 320px;
// 	color: $text-color;
// 	font-family: "400", "Arial", sans-serif;
// 	font-weight: 400;
// 	font-size: $font-size;
// 	line-height: 1.5;
// 	position: relative;
// 	overflow-x: hidden;
// }

// img {
// 	border: 0;
// 	max-width: 100%;
// }

// h2 {
// 	margin-top: 80px;
// 	margin-bottom: 80px;
// 	font-family: "700";
// 	font-size: 36px;
// 	line-height: 120%; // 43px

// 	&:first-of-type {
// 		margin-top: 0;
// 	}
// }

// h3 {
// 	font-family: "600";
// 	font-size: 24px;
// 	line-height: 120%; // 29px
// }

// p {
// 	margin-bottom: 24px;
// 	font-size: 16px;
// 	line-height: 160%; // 26px
// 	letter-spacing: 0.04em;

// 	&:last-child {
// 		margin-bottom: 0;
// 	}
// }

// ul {
// 	list-style: none;
// }

// a {
// 	outline: none;
// 	color: #857A98;
// 	text-decoration: none;
// }

// input,
// select {
// 	width: 100%;
// 	margin-top: 16px;
// 	padding: 8px 16px;
// 	background-color: #F8F9FE;
// 	border-radius: 8px;
// 	border: none;
// 	outline: 0;
// 	font-family: "400";
// }

// textarea {
// 	width: 100%;
// 	margin-top: 16px;
// 	padding: 8px 16px;
// 	background-color: #F8F9FE;
// 	border-radius: 8px;
// 	border: none;
// 	outline: 0;
// 	font-family: "400";
// }

// input[type="submit"] {
// 	color: #FFFFFF;
// 	background: linear-gradient(92.61deg, #A18DC5 0%, #8465BA 100%);
// 	@include button();
// 	width: auto;
// 	font-family: "400";
// }



// /*---------------------------------------------------------------*/
// /* 02. Structure
// /*---------------------------------------------------------------*/


// .space {
// 	padding-top: 80px;
// 	padding-bottom: 80px;

// 	&-top {
// 		padding-top: 80px;
// 	}

// 	&-bottom {
// 		padding-bottom: 80px;
// 	}
// }


// .btn {
// 	color: #FFFFFF;
// 	background: linear-gradient(92.61deg, #A18DC5 0%, #8465BA 100%);
// 	@include button();

// 	&:hover {
// 		//color: #000;
// 	}

// 	&--wide {
// 		width: 100%;
// 	}

// 	&--center {
// 		margin: 0 auto;
// 	}
// }


// .form {
// 	&__row {

// 		&:first-child {
// 			margin-top: 0;
// 		}

// 		&--2Column {
// 			display: flex;
// 			justify-content: space-between;
// 		}

// 		&--button {
// 			margin-top: 32px;
// 		}
// 	}


// .disclaimer {
// 	position: fixed;
// 	left: 0;
// 	bottom: 0;
// 	display: block;
// 	width: 100%;
// 	padding: 4px 16px;
// 	border-top: 1px solid #eee;
// 	background: rgba(255,255,255,.95);
// 	text-align: center;
// }


// @keyframes arrow-animation {
// 	0% {
// 		transform: translateY(0);
// 	}
// 	100% {
// 		transform: translateY(10px);
// 	}
// }





// @media (max-width: 992px) { //------------------------------------------------------------------------------------ 992

// }


// @media (max-width: 768px) { //------------------------------------------------------------------------------------ 768

// }


// @media (max-width: 640px) { //------------------------------------------------------------------------------------ 640

// 	h2 {
// 		margin-bottom: 24px;
// 		font-size: 24px;
// 	}

// 	p {
// 		font-size: 14px;
// 	}

// 	.btn {
// 		font-size: 16px;
// 	}

// 	.form {
// 		&__row {
// 			&--button {
// 				margin-top: 16px;
// 			}
// 			&--2Column {
// 				flex-direction: column;
// 			}
// 		}
// 	}
// }


// @media (max-width: 480px) { //------------------------------------------------------------------------------------ 480

// }


// @media (max-width: 320px) { //------------------------------------------------------------------------------------ 320

// }